.hero {
    background: url(./assets/IMAGE.png);
    height: 500px;
    background-size: cover; 
    background-position: center; 
    display: flex;
    align-items: center;
    position: relative;


    .hero__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h2 {
            font-size: 50px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 20px;
        }

        p {
            font-size: 17px;
            font-weight: 400;
            color: #FFFFFFA1;
            margin-bottom: 31px;
        }

        button {
            font-size: 13px;
            font-weight: 400;
            padding: 12px 31px;
            background-color: $bg;
            color: #fff;
            border: none;
            border-radius: 3px;
            &:hover {
                background-color: #e95600;
            }
        }
    }
}
